<div class="profile-wrapper">
    <div class="profile-avatar">
        <img src="{{data.avatar}}" alt="avatar can not load...">
        {{#if data.isSelf}}
            <form class="edit-avatar" method="POST" action="/api/user/profile/update-info/{{data.userId}}?_method=PATCH">
                <label class="btn btn-edit-avatar" for="change-avatar" >Change</label>
                <input type="file" id="change-avatar" onchange="editAvatar('{{data.userId}}')">
            </form>
        {{/if}}
    </div>
    
<div class="profile-info">
    <form class="form-update-info" method="POST" action="/api/user/profile/update-info/{{data.userId}}?_method=PATCH">
            <table>
                <caption class="name"><input class="detail-info input-disabled" type="text" value="{{data.username}}" name="name"></caption>
                <thead></thead>

                <tbody>
                    <tr>
                        <td class="td-title">Nick name:</td>
                        <td><input class="detail-info input-disabled" type="text" value="{{data.nickname}}" name="nickname"></td>
                    </tr>
                    <tr>
                        <td class="td-title">Address:</td>
                        <td><input class="detail-info input-disabled" type="text" value="{{data.address}}" name="address"></td>
                    </tr>
                    <tr>
                        <td class="td-title">Email:</td>
                        <td><input class="detail-info input-disabled" type="text" value="{{data.email}}" name="email"></td>
                    </tr>
                    <tr>
                        <td class="td-title">Phone number:</td>
                        <td><input class="detail-info input-disabled" type="text" value="{{data.phoneNumber}}" name="phoneNumber"></td>
                    </tr>
                </tbody>

                <tfoot>
                   {{#if data.isSelf}}
                         <tr>
                            <td colspan="2" class="btn-control">
                                <div class="btn btn-edit" onclick="editing('{{data.userId}}')">Edit</div>
                            </td>
                        </tr>
                    {{/if}}
                </tfoot>
            </table>
        </form>
    </div>
</div>


<script src="/js/profile.js"></script>