<div class="client-id" data-user_id=<%= userId %>></div>

<div class="chat-wrapper flex">
    <div class="list item ">
        <div class="search flex">
            <input type="text" placeholder="Find friends">
            <div class="see-all-users">
                See all
            </div>

            <div class="results"></div>
        </div>

        <div class="room-options">
            <div class="options flex">
                <div class="create btn">Create group</div>
                <div class="join btn">Join group</div>
            </div>
            <!-- Start form room-event -->
            <form class="room-event flex" method="POST">
                <div class="room-info flex">
                    <input type="text" name="roomInfoInput">
                    
                    <select class="max-users" name="maxUsers">
                        <option value="none" selected disabled hidden>-- Max --</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="unlimited">unlimited</option>
                    </select>
                </div>

                <div class="room-event-btn">
                    <div class="btn submit disabled">Submit</div>
                    <div class="btn cancel">Cancel</div>
                </div>
                
            </form>
            <!-- End form room-event -->
        </div>

        <div class="list-friends">
            <div class="title">Your friends</div>
            <div class="items">
                <% for(let i = 0; i< friends.length;i ++) { %>
                    <div class="item flex" data-friend_id="<%=friends[i].userId%>">
                        <img src="<%=friends[i].avatar%>" alt="Cannot load avatar">
                        <div><%= friends[i].name%></div>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="list-rooms">
            <div class="title">Your groups</div>
            <div class="items">
                <% for(let i = 0; i< rooms.length;i ++) { %>
                    <div class="item room-<%= rooms[i].roomId %> flex">
                        <div class="room-name" data-roomid=<%= rooms[i].roomId%>><%= rooms[i].name%></div>
                        <i class="fas fa-arrow-left btn-more" data-roomid=<%= rooms[i].roomId %>></i>
                        <div class="options options-<%= rooms[i].roomId %> flex">
                            <a class="edit-room" href="/api/v2/room?id=<%= rooms[i].roomId%>">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="delete-room" data-id="<%= rooms[i].roomId %>">
                                <i class="fas fa-trash-alt" data-id="<%= rooms[i].roomId %>"></i>
                            </a>
                            <a class="share-link-room">
                                <i class="fas fa-share" data-room='{"roomId":"<%= rooms[i].roomId %>", "roomName":"<%= rooms[i].name %>"}''></i>
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="empty"></div>
    </div>

    <div class="chat-box item flex">
        <div class="chatting-with flex"></div>
        
        <div class="box"></div>

        <div class="input-message flex">
            <input type="text" class="message" placeholder="text message">
            <div class="btn btn-send-message" data-sender_id=<%= user.userId %>>
                <i class="fas fa-paper-plane">Send</i>
            </div>
        </div>
    </div>
</div>