<div class="form-edit-room">
    <div class="title">ROOM</div>

    <div class="info flex">
            <form class="form-update-avatar" method="POST" action="/api/v2/room/update?_method=PATCH&id=<%= room.roomId %>">
                <img src="<%= room.avatar %>" alt="...">
                <input class="new-avatar" type="text" name="avatar" value="", tabindex="-1" style="display:none;">
                
                <% if(isAdmin) { %>
                    <div class="change-avatar-group">
                        <div class="choose">
                            <label for="input-change-avatar-group">
                                <i class="fas fa-camera icon-change-avatar"></i>
                            </label>
                            <input id="input-change-avatar-group" type="file" value="" tabindex="-1" accept="image/*" onchange = "loadAvatarGroup()">
                        </div>

                        <div class="confirm">
                            <div class="btn btn-update">Update</div>
                            <div class="btn btn-cancel">Cancel</div>
                        </div>
                    </div>
                <% } %>
            </form>

        <!-- start info -->
        <div class="detail-info flex">
            <form class="change-general-info flex" method="POST" action="/api/v2/room/update?_method=PATCH&id=<%= room.roomId %>">
                <div class="general-info__detail">
                    <div class="name">
                        <label>Name:</label>
                        <input class="input-disabled room-name" type="text" value="<%= room.name %>" tabindex="-1" name="name">
                    </div>

                    <div class="admin flex">
                        <label>Admin:</label>
                        <div class="info-admin flex">
                            <a href="/api/v2/user/profile?id=<%= admin.id %>"><img src="<%= admin.avatar %>" alt="..."></a>
                            <div class="name"><%= admin.name %></div>
                        </div>
                    </div>

                    <div class="max-users">
                        <label>Max:</label>
                        <select class="input-disabled room-maximum_users" value="<%= room.maximum_users %>" name="maximum_users" tabindex="-1">
                            <option value="<%= room.maximum_users %>" selected hidden disabled><%= room.maximum_users %></option>
                            <option value="4">4</option>
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="unlimited">unlimited</option>
                        </select>
                    </div>

                    <div class="link flex">
                        <label>Link:</label>
                        <input class="input-disabled" style="display:none;" type="text" value="<%= room.roomId %>" >
                        <div class="copy">Copy</div>
                    </div>
                </div>
                
                <% if(isAdmin) { %>
                    <div class="edit-info flex">
                        <i class="icon-edit fas fa-pen-fancy" data-for="name"></i>
                        <i class="" data-for="admin"></i>
                        <i class="icon-edit fas fa-pen-fancy" data-for="maximum_users"></i>
                        <i class="" data-for="admin"></i>
                    </div>
                <% } %>
                
            </form>


            <div class="btn-update-info flex">
                <div class="btn btn-update">Update</div>
                <div class="btn btn-cancel">Cancel</div>
            </div>

            <!-- list members -->
            <div class="members">
                <label>Members(<%=members.length%>):</label>
                <div class="list-members">
                    <% for(let i = 0; i< members.length; i++) { %>
                        <div class="item item-<%= members[i].userId %>" data-id="<%= members[i].userId %>">
                            <div class="item-info flex">
                                <img src="<%= members[i].avatar %>" alt="...">
                                <div class="name"><%= members[i].name %></div>
                                <% if(isAdmin && admin.id !== members[i].userId) { %>
                                    <div class="more">
                                        <i class="fas fa-minus-circle remove" data-id="<%= members[i].userId %>"></i>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- end info -->
    </div>
</div>

