<div class="profile">
    <div class="empty"></div>

    <div class="avatar">
        <form class="formAvatar" action="/api/v2/user/update-info?_method=PATCH" method="POST">
            <img class="img-avatar" src="<%= profile.avatar %>" alt="Cannot load avatar" >
            <input class="invisibility"  tabindex="-1" type="text" value="" name="avatar">
        </form>

        <% if(isYourProfile) { %>
            <div class="btn-edit-avatar">
                <div class="confirm-edit">
                    <div class="btn btn-update-avatar" onclick="updateAvatar()">Update</div>
                    <div class="btn btn-cancel-avatar" onclick="cancelUpdateAvatar()">Cancel</div>
                </div>

                <div class="choose-avatar">
                    <label for="input-avatar"><i class="fas fa-camera icon-change-avatar"></i></label>
                    <input id="input-avatar"  tabindex="-1" type="file" accept="image/*" onchange="loadAvatar()">
                </div>
            </div>
        <% } %>
        
    </div>

    <div class="detail">
        <div class="name">
            <%= profile.name %>
        </div>
    </div>

    <div class="profile-actions flex" data-other_id="<%= profile.id %>">
        
    <% if(!isYourProfile) {%>
        <!-- no association -->
        <% if(status === 'none') { %>
            <div class="add-friend item btn">
                <i class="fa fa-user-plus"></i>
                Add Friend
            </div>
        <% } %>
        
        <!-- one user sent add-friend-request -->
        <% if(status === 'pending') { %>
            <% if(userRole === 'userReq') {%>
                <div class="cancel-request item btn">
                    <i class="fa fa-user-plus"></i>
                    Cancel Request
                </div>
            <% } %>
            <% if(userRole == 'userRes') { %>
                <div class="respond-request item">
                    <div class="respond-btn">
                        <i class="fa fa-user-plus"></i>
                        Respond
                    </div>

                    <div class="answer">
                        <div class="confirm">
                            <i class="fas fa-check-circle"></i>
                            Confirm
                        </div>

                        <div class="delete">
                            <i class="fas fa-times-circle"></i>
                            Delete
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
        <!-- already is friend -->
        <% if(status === 'friend') {%>
            <div class="friend item">
                <div class="btn">
                    <i class="fas fa-user-check"></i>
                    Friend
                </div>

                <div class="unfriend btn">
                    <i class="fas fa-user-times"></i>
                    Unfriend
                </div>
            </div>
        <% } %>

        <div class="message item btn">
            <i class="far fa-comment-dots"></i>
            Message
        </div>
    <% } %>

    </div>


    <div class="wrapper-options">
        <div class="options flex">
            <div class="privacy">
                <i class="fas fa-lock"></i>
            </div>

            <% if(isYourProfile) { %>
                <div class="settings">
                    <i class="fas fa-cog"></i>
                </div>
            <% } %>
        </div>
        
        <form class="info" action="/api/v2/user/update-info?_method=PATCH" method="POST">
            <div class="options-privacy flex">
                <div class="privacy-info">
                    <div class="name flex">
                        <label><i class="far fa-user-circle"></i>Name:</label>
                        <input class="input-disabled input-name" tabindex="-1" type="text" value="<%= profile.name %>" name="name">
                    </div>
                    <div class="nick-name flex">
                        <label><i class="fas fa-paint-brush"></i>Nickname:</label>
                        <input class="input-disabled input-nickName" tabindex="-1" type="text" value="<%= profile.nickName%>" name="nickName">
                    </div>
                    <div class="email flex">
                        <label><i class="far fa-envelope-open"></i>Email:</label>
                        <input class="input-disabled input-email" tabindex="-1" type="email" value="<%= profile.email%>" name="email">
                    </div>
                    <div class="address flex">
                        <label><i class="far fa-address-card"></i>Address</label>
                        <input class="input-disabled input-address" tabindex="-1" type="text" value="<%= profile.address%>" name="address">
                    </div>

                    <div class="button-edit">
                        <div class="btn update">Update</div>
                        <div class="btn cancel">Cancel</div>
                    </div>
                </div>

                <% if(isYourProfile) { %>
                    <div class="options-privacy-edit flex">
                        <i class="icon-edit fas fa-pen-fancy" data-for="name"></i>
                        <i class="icon-edit fas fa-pen-fancy" data-for="nickName"></i>
                        <i class="icon-edit fas fa-pen-fancy" data-for="email"></i>
                        <i class="icon-edit fas fa-pen-fancy" data-for="address"></i>
                    </div>
                <% } %>

            </div>
            

        </form>
        
        <% if(isYourProfile) { %>
            <div class="options-settings">
                <div class="item change-password flex">
                    Change your password?
                    <div class="btn btn-open-change-password-form">Change</div>
                </div>
                
                <div class="item delete-account flex">
                    Delete your account?
                    <div class="btn btn-delete-account">
                        <i class="fas fa-exclamation-triangle" style="color:red"></i>
                        Delete
                    </div>
                </div>

                <div class="item delete-account flex">
                    Log out?
                    <a href="/api/v2/auth/logout"><div class="btn">Log out</div></a>
                </div>
            </div>
        <% } %>
    </div>
</div>